@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color: #f1faee;
  font-family: 'Open Sans', sans-serif;
  color: #457b9d;
  font-weight: 500;
}

h1 {
  font-size: 36px;
}

.btn-light {
  text-decoration: none;
}

p {
  font-size : 18px;
  font-weight: 400;
}

h2 {
  font-size: 22px;
}

.img-circle {
  width: 100px;
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

a {
  color : #9d6b53;
  font-size : 24px;
}

a:hover {
  color: #e6b8a2;
}

.card {
  background: rgba(250,250,250,0.2);
  text-align : center;
  border: 2px solid lightgrey;
  border-radius: 15px;
  border-spacing: 10px;
  padding: 15px;
  margin: 10px;
  box-shadow: 4px 4px 2px 2px rgba(220, 220, 220, .4);
}

.container {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
